@charset "utf-8";
/* Thad Seaver
Time Calc - July 2017
Calculates the amount of time that passed between the entered start time and end time */

.error {
	border: 2px solid #F00;
}

.no-error {
	border: none;
}

.red-text {
	color: #F00;
}