@charset "utf-8";
/* Thad Seaver
Time Calc - July 2017
Calculates the amount of time that passed between the entered start time and end time

Body background pattern from Subtle Patterns (www.subtlepatterns.com)
Background pattern named Green Cup, by Atle Mo */

body {
	font-size: 1em;
	background: url(../images/bg-body.png) repeat;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

fieldset {
	margin-bottom: 1em;
}

input[type=text], input[type="radio"] {
	margin-right: 4%;
}

p {
	margin-top: 0;
	margin-bottom: .5em;
}

#wrap {
	width: 23%;
	margin: 0 auto;
}

#calc {
	margin-right: 1em;
	font-size: 1em;
}

#clear {
	font-size: 1em;
}

.error {
	border: 2px solid #C00;
}

.no-error {
	border: none;
}

.red-text {
	color: #C00;
}

#answer {
	font-size: 1.3em;
	margin-top: 4%;
}